<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="assets/favicon-gopher.png" sizes="any">
  <link rel="apple-touch-icon" href="assets/favicon-gopher-plain.png">
  <link rel="icon" href="assets/favicon-gopher.svg" type="image/svg+xml">

  <title>Go-MVC</title>
  <link rel="stylesheet" type="text/css" href="assets/welcome.css" />
</head>

<body>
  <main>
    <h1 style="margin-top: 10vh;">Welcome to <strong style="color: #4dacd7;">Go-MVC</strong></h1>

    <h3>
      A perfect, simple MVC framework for web development with Go
    </h3>

    <div>
      Land your first working by editing <strong style="color: blue;">index.html</strong>
    </div>

    <img style="width: 200px; margin-top: 80px;" src="assets/logo.png" />
  </main>
</body>

</html>